body {
    background-color: #fdc500;
    margin: auto;
    text-align: center;
}

h1 {
    font-family: helvetica;
    font-size: 50px;
    color: #00296b;
    text-align: center;
}

body p {
    font-family: 'Courier New', Courier, monospace;
}

#searchContainer {
    margin: 20px;
}